.button {
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  color: @white;
  background-color: @blue-light;
  text-decoration: none;
  border: none;
  cursor: pointer;
  line-height: 26px;
  font-size: 21px;
  padding: 16px 20px;

  &--text-size-s {
    font-size: 18px;
  }
}

.button:hover {
  background-color: @blue;
}

.button:active {
  background-color: @blue-dark;
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: @grey;
}
