.control__label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.control__label span {
  margin-left: 16px;
}

.control__button--custom {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control__button--custom + label {
  display: inline-flex;
  align-items: center;
}

.control__button--custom + label::before {
  content: "";
  display: inline-block;
  width: 46px;
  height: 46px;
  flex-shrink: 0;
  flex-grow: 0;
  border: none;
  background-color: @grey-light;
  background-repeat: no-repeat;
  background-position: center center;
}

.control__button--custom[type="checkbox"] + label::before {
  border-radius: 4px;
}

.control__button--custom[type="radio"] + label::before {
  border-radius: 50%;
}

.control__button--custom[type="checkbox"]:checked + label::before {
  background-image: url("../img/icons/checkbox-mark.svg");
}

.control__button--custom[type="radio"]:checked + label::before {
  background-image: url("../img/icons/radio-mark.svg");
}

.control__button--custom:not(:disabled) + label:hover::before {
  background-color: @grey;
}

.control__button--custom:not(:disabled) + label:active::before {
  background-color: @grey-dark;
}

.control__button--custom:not(:disabled) + label:focus::before {
  outline: 2px solid @blue-light;
}

.control__button--custom:disabled + label::before {
  opacity: 0.3;
}
