.developer-link {
  display: flex;
  align-items: center;
  color: @black;
}

.developer-link span {
  margin-right: 8px;
}

.developer-link svg {
  fill: currentColor;
  display: block;
}

.developer-link:hover {
  color: @blue-light;
  transition: color ease-out 0.3s;
}

.developer-link:active {
  color: @grey-dark-extra;
}
