.extra-feature {
  text-align: left;
  color: @black;
  background-color: @white;
  padding: 23px 20px 22px;
}

.extra-feature__title {
  margin-bottom: 16px;
}

@media (min-width: @tablet-width) {
  .extra-feature {
    text-align: center;
    padding-top: 158px;
    padding-bottom: 60px;
  }

  .extra-feature__title {
    margin-bottom: 35px;
  }
}
