.feature {
  text-align: center;

  &--primary {
    color: @white;
    background-color: @blue-light;
  }

  &--secondary {
    background-color: @grey-light-extra;
  }

  @media (max-width: @mobile-width-only) {
    .feature__text-wrap--limited {
      padding: 39px 20px 35px;
    }

    &--secondary {
      padding: 24px 20px;
    }

    &--secondary-first {
      padding-top: 26px;
    }

    &--secondary-last {
      padding-bottom: 26px;
    }
  }
}

.feature__picture {
  display: block;
  object-fit: cover;
}

.feature__title {
  margin-bottom: 11px;
}

.feature__number {
  margin-bottom: 17px;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .feature {
    &--secondary {
      padding: 40px 33px;
    }
  }

  .feature__text-wrap {
    display: flex;
    flex-direction: column;
  }

  .feature__text-wrap--limited {
    width: 256px;
    padding: 40px 30px;
  }

  .feature__picture-wrap {
    display: flex;
  }
}

@media (min-width: @desktop-width) {
  .feature {
    &--secondary {
      padding: 43px;
    }
  }

  .feature__text-wrap--limited {
    width: 400px;
    padding: 50px;
  }
}
