.feature {
  text-align: center;

  &--primary {
    color: #ffffff;
    background-color: #81b3d2;
  }

  &--secondary {
    background-color: #eeeeee;
  }
}

.feature__picture {
  margin: 0 auto;
  display: block;
  object-fit: contain;
}

.feature__title--first {
  margin-top: 54px;
}
