@media (max-width: @mobile-width-only) {
  .feedback {
    padding-inline: 20px;
  }
}

@media (min-width: @tablet-width) {
  .feedback {
    padding-inline: 63px;
  }
}

@media (min-width: @desktop-width) {
  .feedback {
    padding-inline: 120px;
  }
}
