.field {
  display: flex;
  flex-direction: column;
}

.field__input {
  border: 0;
  background-color: #f2f2f2;
  padding: 16px;
  font-family: inherit;
}

.field__input::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  opacity: 0.3;
}

.field__input--black::placeholder {
  font-weight: 700;
  opacity: 1;
}

.field__label {
  margin: 0 16px;
}

