.field-group__title {
  text-align: center;
  margin-bottom: 20px;
}

.field-group__list {
  .list-clear;
}

.field-group__textarea {
  width: 100%;
  padding: 16px;
}

.field-group__item:not(:last-child) {
  margin-bottom: 16px;
}

.field-group__item--control:not(:last-child) {
  margin-bottom: 10px;
}

@media (min-width: @tablet-width) {
  .field-group__list {
    &--radio,
    &--checkbox {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    &--right {
      margin-left: 44px;
    }

    &--checkbox {
      margin-left: 65px;
    }
  }

  .field-group__title {
    font-size: 21px;
    margin-bottom: 28px;
  }

  .field-group__title--decorated {
    position: relative;
    margin-bottom: 28px;
  }

  .field-group__title--decorated::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #dbdbdb;
    top: 50%;
    left: 0;
  }

  .field-group__title--decorated span {
    background-color: @white;
    padding-inline: 60px;
    position: relative;
    z-index: 2;
    display: inline-block;
  }

  .field-group__item--control {
    margin-left: 30px;
  }
}

@media (min-width: @desktop-width) {
  .field-group__list {
    &--radio {
      grid-template-columns: repeat(3, 1fr);
    }

    &--checkbox {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .field-group__title--decorated {
    margin-bottom: 45px;
  }

  .field-group__title--checkbox {
    margin-bottom: 60px;
  }
}
