.field {
  display: flex;
  flex-direction: column;

  &--decorated {
    position: relative;
  }
}

.field--decorated::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
}

.field--phone::before {
  background-image: url("../img/icons/phone.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.field--mail::before {
  background-image: url("../img/icons/mail.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.field__input {
  border: 0;
  background-color: @grey-light;
  padding: 16px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.field__input::placeholder {
  color: @black;
  opacity: 0.3;
}
