.footer {
  padding: 40px 20px 23px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--catalog {
    padding: 30px 20px 20px;
  }
}

.footer__hashtag {
  margin-bottom: 33px;
}

.footer__social-media-list {
  margin-bottom: 40px;
}

.footer__hashtag:hover {
  color: @blue-light;
  transition: color ease-out 0.3s;
}

.footer__hashtag:active {
  color: @grey-dark-extra;
  transition: color ease-out 0.3s;
}

@media (min-width: @tablet-width) {
  .footer {
    padding: 36px 55px 36px 60px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer__hashtag {
    margin: 0;
  }

  .footer__social-media-list {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .footer {
    padding: 36px 115px 36px 120px;
  }
}
