.form__legend {
  text-transform: uppercase;
  text-align: right;
  margin: 0;
  color: @black-light;
}

@media (max-width: @mobile-width-only) {
  .form__group {
    padding: 24px 20px;
    border-top: 1px solid @grey;

    &--textarea {
      padding-bottom: 50px;
    }
  }

  .form__button {
    width: 281px;
  }

  .form__button-wrapper {
    margin: 0 20px 15px;
  }

  .form__legend {
    opacity: 0.6;
    font-size: 12px;
  }

  .form__group--name {
    padding-bottom: 40px;
  }

  .form__group--contacts {
    padding-bottom: 33px;
  }

  .form__group--single {
    padding-bottom: 18px;
  }
}

@media (min-width: @tablet-width) {
  .form__contacts-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 48px;
  }

  .form__button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
  }

  .form__group--name {
    padding-right: 44px;
    padding-bottom: 15px;
    border-right: 1px solid #dbdbdb;
  }

  .form__group--single {
    margin-bottom: 42px;
  }

  .form__button {
    width: 324px;
    padding: 20px 20px 12px 20px;
  }

  .form__group--checkbox {
    margin-bottom: 26px;
  }

  .form__group--textarea {
    padding-bottom: 43px;
  }

  .form__legend {
    margin-top: 8px;
  }
}

@media (min-width: @desktop-width) {
  .form__group--name {
    padding-right: 50px;
  }

  .form__group--contacts {
    padding-left: 34px;
  }

  .form__group--single {
    margin-bottom: 56px;
  }

  .form__button {
    width: 384px;
  }

  .form__contacts-wrapper {
    margin-bottom: 56px;
  }

  .form__group--checkbox {
    margin-bottom: 72px;
  }

  .form__group--textarea,
  .form__button-wrapper {
    padding-inline: 96px;
  }

  .form__button-wrapper {
    margin-bottom: 64px;
  }

  .form__group--textarea {
    padding-bottom: 41px;
  }
}
