.gallery {
  padding: 50px 20px 0;
}

@media (min-width: @tablet-width) {
  .gallery {
    padding: 67px 60px 40px;
  }
}

@media (min-width: @desktop-width) {
  .gallery {
    padding: 65px 0 84px;
  }
}
