.hero {
  background-color: @brown;
  background-image: url("../img/hero-picture.jpg");
}

.hero__text {
  display: block;
  margin: 0 auto;
}

.hero--size-s {
  padding: 52px 20px 67px;
}

.hero--size-m {
  padding: 90px 20px 85px;
}
