.like-rating__counter {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}

.like-rating__button {
  border: 0;
  background-color: transparent;
  background-image: url("../img/icons/like-icon.svg");
  width: 23px;
  height: 21px;
}
