.navigation {
  z-index: 2;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

  &--closed {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .navigation {
    z-index: 0;
  }
}
