.navigation__toggle {
  width: 23px;
  height: 22px;
  border: 0;
  background-color: transparent;

  &--open {
    background-image: url("../img/icons/icon-menu-open.svg");
  }

  &--close {
    background-image: url("../img/icons/icon-close-open.svg");
  }
}
