.site-list {
  .list-clear;
  text-align: center;
  background-color: @blue-light;

  &__item {
    padding: 17px 20px 12px;
  }

  &__link {
    color: @white;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
  }
}

@media (min-width: @tablet-width) {
  .site-list {
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    &__item {
      padding: 18px 10px 17px;
    }

    &__link {
      color: @black;
      font-size: 14px;
      line-height: 21px;
    }

    &__link--current {
      color: @brown;
    }
  }

  .site-list > :nth-child(3) {
    grid-column: 4;
  }
}
