.socials {
  .list-clear;
  display: flex;
  gap: 6px;
}

.socials__item {
  width: 48px;
  height: 48px;
  background-color: @blue-light;
}

.socials__link {
  display: block;
  width: 100%;
  height: 100%;
}
