.socials {
  .list-clear;
  display: flex;
  gap: 6px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: @blue-light;
}

.socials__link:hover {
  background-color: @blue;
}

.socials__link:active {
  background-color: @blue-dark;
}

.socials__icon {
  fill: @white;
}

.socials__link:active .socials__icon {
  fill-opacity: 30%;
}
