.video-presentation {
  padding-top: 17px;
  text-align: center;
}

.video-presentation__title {
  margin-bottom: 30px;
}

@media (min-width: @tablet-width) {
  .video-presentation {
    padding: 52px 60px 40px;
  }
}

@media (min-width: @desktop-width) {
  .video-presentation {
    padding-top: 63px 200px 84px;
  }
}
