.video-player {
  position: relative;
  width: 280px;
  height: 177px;
  background-image: url("../img/gallery/video-mobile.jpg");
  background-position: center bottom;
  margin: auto;
  background-color: @blue-light;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/gallery/video-mobile@2x.jpg");
    background-size: 280px auto;
  }
}

.video-player__button {
  width: 48px;
  height: 54px;
  border: 0;
  background-image: url("../img/play-button.svg");
  background-color: transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  margin-top: -27px;
  cursor: pointer;
}

@media (max-width: @mobile-width-only) {
  .video-player__button {
    left: 53%;
  }
}

@media (min-width: @tablet-width) {
  .video-player {
    width: 648px;
    height: 500px;
    background-image: url("../img/gallery/video-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gallery/video-tablet@2x.jpg");
      background-size: 648px auto;
    }
  }
}

@media (min-width: @desktop-width) {
  .video-player {
    width: 800px;
    height: 500px;
    background-image: url("../img/gallery/video-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gallery/video-desktop@2x.jpg");
      background-size: 800px auto;
    }
  }
}
