.video-presentation {
  text-align: center;
}

.video-presentation__title {
  margin-bottom: 30px;
}

@media (max-width: @mobile-width-only) {
  .video-presentation {
    padding: 17px 20px 0;
    border-top: 1px solid @grey;

    &__description {
      margin-bottom: 38px;
    }
  }
}

@media (min-width: @tablet-width) {
  .video-presentation {
    padding: 58px 0 40px;

    &__description {
      margin: 0 100px 66px;
    }
  }
}

@media (min-width: @desktop-width) {
  .video-presentation {
    padding-top: 63px 200px 84px;

    &__description {
      margin: 0 378px 72px;
    }
  }
}
